name: Docker Image Sync Tool
on:
  workflow_dispatch:
    inputs:
      source_image:
        description: '源镜像地址 (例如: amruthpillai/reactive-resume:latest)'
        required: true
        default: 'amruthpillai/reactive-resume:latest'
      target_tag:
        description: '阿里云仓库标签 (例如: reactive-resume:latest)'
        required: true
        default: 'reactive-resume:latest'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun
        run: |
          echo "${{ secrets.ALI_PASSWORD }}" | docker login registry.cn-shanghai.aliyuncs.com --username ${{ secrets.ALI_USERNAME }} --password-stdin
      
      - name: Sync Image
        run: |
          # 使用输入的变量
          SOURCE=${{ github.event.inputs.source_image }}
          TARGET=registry.cn-shanghai.aliyuncs.com/storage-stack/${{ github.event.inputs.target_tag }}
          
          echo "正在同步: $SOURCE -> $TARGET"
          
          docker pull $SOURCE
          docker tag $SOURCE $TARGET
          docker push $TARGET
